* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

.button-container {
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

button {
    border: none;
    border-radius: 15px;
    padding: 12px 24px;
    background-color: #61c3d1;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3e7982;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

 .author {
    width: 80%;
    margin: 5px auto;
    text-align:right;
    color: #333;
}

.content {
    width: 80%;
    margin: 40px auto;
    text-align: justify;
    line-height: 1.6;
    color: #555;
}
@font-face {
    font-family: "Old English";
    src: url('./Holy\ Union.ttf') format("woff");
    
}
.e{
    font-family:'Old English';
    font-size:xx-large;
}

/* Responsive Design */
@media (max-width: 768px) {
    .button-container {
        width: 90%;
    }

    button {
        width: 100%;
    }

    .title, .author, .time, .content {
        width: 90%;
    }
}
