*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
}
.button-container{
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
button{
    border: 1px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    scale: 1;
    transition: all 0.5s ease;
    
}
button:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}
.title, .author, .time{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.content{
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 1.5;
}
